




<%# to have the invitation - form - create attendee  %>
<h1>Booking</h1>
<h3><%= @booking.date %></h3>
<h3><%= @booking.slot.start_time %></h3>

<%= link_to "Cancel", @booking, method: "delete" %>

  <%= @attendee %>
  <%# <%= link_to "Delete",
      review_path(review),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
</div>
