<div class="booking-page-container">

  <h1 class="booking">Booking successful!</h1>
  <div class="booking-container">

    <div class="booking-confirmed-details" style="padding-bottom: 50px;">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <p style="font-size: 1.25rem;">Booking confirmed for: </p>
        <h4 class="mt-2" style="
      display: flex;"><%= link_to @booking.slot.course.name, course_path(@booking.slot.course), class: "course-name" %></h4>
      </div>
      <div class="mt-2">
        <h4 class="border booking-border"><i class="fa-regular fa-calendar-days me-3"></i><%= @booking.date.strftime("%d/%m/%Y") %></h4>
        <h4 class="border booking-border"><i class="fa-solid fa-clock me-3"></i><%= @booking&.slot&.start_time.strftime("%I:%M %p")%></h4>
      </div>
      <div class="booking-button-container mt-3">
        <div>
          <button type="button" class="booking-confirmation-back">
            <%= link_to "See dashboard", dashboard_path %>
          </button>
        </div>
      </div>
    </div>

    <%# <%= image_tag('gimmegolf2.jpeg') %>


    <% if current_user.following.any? %>
    <div class="booking-invite-users">
      <div class="invite-users-ctr">
      <h2 class="mb-3 mt-3"><b>Why not invite a friend?</b></h2>
        <ul>
        <% current_user.following.each do |followee| %>
          <li class="booking-follower-li">
            <div class="d-flex justify-content-between align-items-center">
              <div class="booking-user-deets">
                <% if followee.avatar.key.nil? %>
                    <%= image_tag "logo.png", size: "60x60" %>
                  <% else %>
                    <%= cl_image_tag followee.avatar.key, :transformation=>[
                      {:gravity=>"face", :height=>60, :radius=>"max", :width=>60, :crop=>"fill"},
                    {:quality=>100, :radius=>0}] %>
                  <% end %>
                <p class="ms-2 mt-3"><b><%= link_to followee.first_name, user_path(followee), class: "followee-text" %></b></p>
              </div>
              <div class="me-2">
                <%= link_to invite_user_path(@booking, user: followee) do %>




                  <%# button will be disabled if the invitation exists %>
                  <%# 'disabled unless' invitation.empty? - button will be disabled unless the invitation is empty, in which case we need to kep the button active  %>
                  <%if Invitation.where(booking: @booking, user: followee).empty?%>
                    <button class="booking-invite-button"> Invite </button>
                  <% else %>
                    <a disabled>Invited <i class="fa-sharp fa-solid fa-check"></i></a>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%# <hr> %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  </div>


</div>
