<div class="booking-page-container">

  <div class="container booking-container">
    <%# to have the invitation - form - create attendee  %>
    <div class="row">
      <h1 class="booking">Success <i class="fa-solid fa-check"></i></h1>
      <h4 class="course-name"><%= @booking.slot.course.name %></h4>
      <h4 class="border "><i class="fa-regular fa-calendar-days me-3"></i><%= @booking.date.strftime("%d/%m/%Y") %></h4>
      <h4 class="border"><i class="fa-solid fa-clock me-3"></i><%= @booking&.slot&.start_time.strftime("%I:%M %p")%></h4>
      <div class="booking-button-container">
        <div>
        <div d-flex>

          <button type="button" class="btn success "><%= link_to "Back", courses_path(@course) %></button>
        </div>
        <div>
          <button type="button" class="btn btn-danger"><%= link_to "Cancel", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
        </div>
      </div>
    </div>

    </div>
  </div>

        <% if current_user.following.length > 0 %>

        <div class="followers">
          <p class="text-center">Followers</p>
          <ul>
            <% current_user.following.each do |followee| %>
              <li class="d-flex justify-content-between align-items-center">
                <div class="booking-confirm-avatar justify-content-center d-flex">
                  <%# <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" /> %>
                  <p class="ms-4 mt-3"><%= followee.first_name %></p>
                </div>
                 <div>
                  <button><%= link_to "Invite", invite_user_path( @booking, user: followee) %></button>
                </div>
              </li>
              <hr>
            <% end %>
          </ul>
        </div>
        <% else%>
        <p>I'll play alone</p>
      <% end %>
</div>
