<div class="booking-page-container">
  <%= cl_image_tag @booking.slot.course.photos[0].key,  crop: :fill %>

  <div class="container booking-container">
    <%# to have the invitation - form - create attendee  %>
    <div class="row">
      <h1 class="booking">Booking</h1>
      <h4 class="course-name"><%= @booking.slot.course.name %></h4>
       <h4 class="border"><i class="fa-regular fa-calendar-days ml-2"></i><%= @booking.date.strftime("%d/%m/%Y") %></h3>
        <h4 class="border"><i class="fa-solid fa-clock"></i><%= @booking&.slot&.start_time.strftime("%I:%M %p")%></h3>
        <div d-flex>
          <button type="button" class="btn success "><%= link_to "Back", courses_path(@course) %></button>
          <button class="btn btn-danger"><%= link_to "Cancel", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
          <%# <button><%= link_to "Invite", invite_path(user:user) %>
        </div>

        <div>
        <% current_user.following.each do |followee| %>
        <%# <% @current_user.followers.each do |follower|%>
           <%= link_to followee.first_name, invite_user_path( @booking, user: followee) %>
         <% end %>
        </div>

  </div>
</div>
</div>
