<div class="main-dashboard-container">

  <div class=" dashboard-heading-banner">
    <div class="">
      <h1 class="">Your Dashboard</h1>
      <h5 class="" style="margin-left: 4px;"><%= @user.first_name %></h5>
    </div>


    <div class="">
      <div class="modal-stuff ">
      <!-- Button trigger modal -->
      <button type="button" class="dashboard-modal-button" data-bs-toggle="modal" data-bs-target="#followersModal">
        Followers: <%= @user.followers.count %>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content dashboard-popup-heading">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-white" id="followersModalLabel">Followers</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <% if @user.followers.any? %>
              <% @user.followers.each do |follower| %>
                  <div class="d-flex justify-content-between" style="padding: 6px 0;">
                    <li class="list-group-item">
                      <%= link_to follower.email, user_path(follower), class: "dashboard-popup-link"  %>
                    </li>
                    <div>
                      <%= link_to "Unfollow", unfollow_user_path(follower), data: {turbo_method: :post, remote: true}, class: "dashboard-unfollow"  %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <p class="text-light">No followers currently</p>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%# <button type="button" class="btn btn-primary">Save changes</button> %>
            </div>
          </div>
        </div>
      </div>



    <button type="button" class="dashboard-modal-button" data-bs-toggle="modal" data-bs-target="#followingModal">
      Following: <%= @user.following.count %>
    </button>

    <div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content dashboard-popup-heading">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-white" id="followingModalLabel">Following</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% if @user.following.any? %>
              <% @user.following.each do |followee| %>
                  <div class="d-flex justify-content-between" style="padding: 6px 0;">
                    <li class="list-group-item">
                      <%= link_to followee.email, user_path(followee), class: "dashboard-popup-link" %>
                    </li>
                    <div>
                      <%= link_to "Unfollow", unfollow_user_path(followee), data: {turbo_method: :post, remote: true}, class: "dashboard-unfollow"  %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <p class="text-light">Not following anyone</p>
              <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%# <button type="button" class="btn btn-primary">Save changes</button> %>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>


  <div class="box-shadow bg-white" style="border-radius: 12px">

    <div class="dashboard-info-panel">

      <div class="dashboard-invitations-container">

        <% if current_user.count_invites > 0 %>
          <div class="d-flex justify-content-center">
            <p class="dashboard-invitation-count"><b><%= current_user.count_invites %></b> outstanding invitations</p>
          </div>
        <% end %>
        <div class="dashboard-invites">
        <% if @invitations.any? %>
          <% @invitations.each do |invitation| %>
            <div class="dashboard-invitations">
              <div class="pt-3" style="margin-left: 10px;">
                <p class="dashboard-invitations-info"><b><%= link_to invitation.booking.slot.course.name, course_path(invitation.booking.slot.course) %></b> - <%= "#{invitation.booking.date.strftime("%A, %d %b %Y")}, #{invitation.booking.slot.start_time.strftime("%I:%M %p")}" %></p>
                <p><small class="text-muted">Invited by: <%= link_to invitation.booking.user.first_name, user_path(invitation.booking.user) %> on <%= invitation.created_at.strftime("%A, %d %b %Y") %></small></p>
              </div>
              <div class="dashboard-invitation-actions">
                <div>
                  <%= form_with url: accept_booking_path(invitation.booking), method: :post do |form| %>
                    <%= form.submit "Accept", class: "dashboard-accept-button" %>
                  <% end %>
                </div>
                <div>
                  <%= link_to invitation_path(invitation), data: {turbo_method: :delete, turbo_confirm: "Ignore this invite?"} do %>
                    <i class="fa-regular fa-x dashboard-ignore-icon"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="text-center">No invites currently... head on over and check out our courses!</p>
          <%= link_to courses_path do %>
            <button class="dashboard-accept-button">Courses</button>
          <% end %>
        <% end %>
      </div>
      </div>

  <div class="dashboard-info-panel-photo">
    <div style="
      position: absolute;
      color: white;
      font-size: 3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  ">Latest Invitations</div>
  </div>

  </div>
  </div>
<div>
  <div data-controller="show-bookings" class="dashboard-show-bookings">

    <div class="bookings-container">
      <div style="display: flex;
    align-items: stretch; width: 30%;">
        <ul class="nav d-flex align-items-center justify-content-center">
          <li class="nav-item">
            <a class="nav-link dashboard-cursor " aria-current="page" id="today"
            data-action="click->show-bookings#showContent">Today's Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dashboard-cursor " id="past"
            data-action="click->show-bookings#showContent">Past Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dashboard-cursor " id="future"
            data-action="click->show-bookings#showContent">Future Bookings</a>
          </li>
        </ul>
      </div>



        <div class="dashboard-bookings">

          <div>
            <div class="d-none future" data-show-bookings-target="bookings">
              <% if @future_bookings.any? %>
                <% @future_bookings.each do |booking| %>
                  <ul>
                    <%# <hr> %>
                    <li>
                      <div class=" ps-2 d-flex align-items-center">
                        <%= link_to course_path(booking.slot.course) do %>
                          <%= cl_image_tag booking.slot.course.photos[0].key, height: 80, width: 80, crop: :fill, class: "dashboard-booking-photo" %>
                        <% end %>
                        <div class="dashboard-booking-particulars">
                          <p><%= link_to booking.slot.course.name, course_path(booking.slot.course)%></p>
                          <small class="text-muted"><%= "#{booking.date.strftime("%A, %d %b %Y")}, #{booking.slot.start_time.strftime("%I:%M %p")}" %></small>
                        </div>
                      </div>
                      <div>
                        <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel the booking?"} do %>
                          <div class="d-flex align-items-center dashboard-booking-delete pe-3">
                            <i class="fa-regular fa-x ms-2 mb-2"></i>
                          </div>
                        <% end %>
                      </div>
                    </li>
                    <%# <hr> %>
                  </ul>
                <% end %>
              <% else %>
                <div class="dashboard-empty-booking">
                  <p class="text-center">No bookings.. head on over and check out our courses!</p>
                  <%= link_to courses_path do %>
                    <button class="dashboard-accept-button">Courses</button>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>


          <div>
            <div class="d-none past" data-show-bookings-target="bookings">
              <% if @past_bookings.any? %>

                <% @past_bookings.each do |booking| %>
                  <ul>
                    <%# <hr> %>
                    <li>
                      <div class=" ps-2 d-flex align-items-center">
                      <%= link_to course_path(booking.slot.course) do %>
                        <%= cl_image_tag booking.slot.course.photos[0].key, height: 80, width: 80,  crop: :fill, class: "dashboard-booking-photo" %>
                      <% end %>
                        <div class="dashboard-booking-particulars">
                          <p><%= link_to booking.slot.course.name, course_path(booking.slot.course)%></p>
                          <small class="text-muted"><%= "#{booking.date.strftime("%A, %d %b %Y")}, #{booking.slot.start_time.strftime("%I:%M %p")}" %></small>
                        </div>
                      </div>
                    </li>
                    <%# <hr> %>
                  </ul>
                <% end %>
              <% else %>
                <div class="dashboard-empty-booking">
                  <p class="text-center">No previous bookings.. head on over and check out our courses.</p>
                  <%= link_to courses_path do %>
                    <button class="dashboard-accept-button">Courses</button>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>


          <div>
            <div class="today" data-show-bookings-target="bookings">
              <% if @todays_bookings.any? %>
                <% @todays_bookings.each do |booking| %>
                  <ul>
                    <%# <hr> %>
                    <li>
                      <div class=" ps-2 d-flex align-items-center">
                        <%= link_to course_path(booking.slot.course) do %>
                          <%= cl_image_tag booking.slot.course.photos[0].key, height: 80, width: 80,  crop: :fill, class: "dashboard-booking-photo" %>
                        <% end %>
                        <div class="dashboard-booking-particulars">
                          <p><%= link_to booking.slot.course.name, course_path(booking.slot.course)%></p>
                          <small class="text-muted"><%= "#{booking.date.strftime("%A, %d %b %Y")}, #{booking.slot.start_time.strftime("%I:%M %p")}" %></small>
                      </div>
                      </div>
                      <div>
                        <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel the booking?"} do %>
                          <div class="d-flex align-items-center dashboard-booking-delete pe-3">
                            <i class="fa-regular fa-x ms-2 mb-2"></i>
                          </div>
                        <% end %>
                      </div>
                    </li>
                    <%# <hr> %>
                  </ul>
                <% end %>
              <% else %>
                <div class="dashboard-empty-booking">
                  <p class="text-center">No bookings yet.. head on over and check out our courses!</p>
                  <%= link_to courses_path do %>
                    <button class="dashboard-accept-button">Courses</button>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>

<div class="dashboard-booking-panel-photo">
    <div style="
      position: absolute;
      color: white;
      font-size: 3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  ">Your Bookings</div>
  </div>
      </div>

    </div>
</div>
