

<% render partial: "stats", locals: {user: @player} %>

<%# <% content_for :meta_title, "#{@player.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# <% content_for :meta_description, @oplayer.description %>
<%# <% content_for :meta_image, cl_image_path(@player.photo.path) %>

<div class="ui-bg-cover ui-bg-overlay-container text-white" style="align-items: baseline; min-height: calc(100vh - 100px);">
  <div class="container user-bg-color">
    <div class="row">
      <div class="text-center py-5 col-6">
        <img alt="" class="ui-w-100 rounded-circle">
          <% if @player.avatar.key.nil? %>
              <%= image_tag "avatar-alt.png", size: "150x150" %>
            <% else %>
              <%= cl_image_tag @player.avatar.key, :transformation=>[
              {:gravity=>"face", :height=>200, :radius=>"max", :width=>200, :crop=>"fill"},
              {:quality=>100, :radius=>0}] %>
          <% end %>
        <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
          <h4 class=" my-4" style="font-family: 'Barlow Semi Condensed', sans-serif;"><%= @player.first_name%> <%=@player.last_name%></h4>

          <div class="opacity-75 mb-4" style="font-family: 'Barlow', sans-serif;">
            <%= @player.bio %>
          </div>
        </div>

        <div class="user-page-bio-info">
          <div class="user-follow-panel">
            <div class="user-follows">
              <p><strong style="margin-right: 4px;"><%=@player.followers.count%></strong>  <div style="opacity: 0.75;">followers</div></p>
            </div>
            <div class=" user-follows">
              <p><strong style="margin-right: 4px;"><%=@player.following.count%></strong>  <div style="opacity: 0.75;">following</div></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="ui-bg-overlay-container">
          <div class="ui-bg-overlay opacity-25"></div>
            <ul class="nav nav-tabs tabs-alt justify-content-center border-transparent" id="nav-show">
              <li class="nav-item">
                <div class="nav-link text-white py-4 active" id="courses-list-tab" onclick="openTab('courses-list')">Courses</div>
              </li>
              <li class="nav-item">
                <%# <div class="nav-link text-white py-4" id="favourites-list-tab" onclick="openTab('favourites-list')"></div> %>
              </li>
              <li class="nav-item">
                <div class="nav-link text-white py-4" id="followers-list-tab" onclick="openTab('followers-list')">Followers</div>
              </li>
              <li class="nav-item">
                <div class="nav-link text-white py-4" id="following-list-tab" onclick="openTab('following-list')">Following</div>
              </li>
            </ul>
          </div>
          <div class="ui-bg-overlay-container">
          <div class="list" id="courses-list">
            <div class="list-item text-center">
              <br>
              <h1 style="font-size: 25px;"><i><%= @player.first_name %> has been to...</i></h1>

              <% @past_bookings.each do |booking| %>
                  <p><%= link_to booking.slot.course.name , course_path, class:"name-show-past" %> <br><%= booking.date.strftime("%A, %d %b %Y") %></p>
                  <% booking.slot.course.photos.each do |photo|%>
                  <%= cl_image_tag photo.key, crop: :thumb, :class => "user-imgs" %>
                  <% end %>
                  <hr width="100% center" />
                <% end %>
            </div>
          </div>

          <%# <div class="list" id="favourites-list">
            <div class="list-item"></div>
            <div class="list-item">some stuff</div>
            <div class="list-item">some stuff</div>
            <div class="list-item">some stuff</div>
            <div class="list-item">some stuff</div>
          </div> %>

          <div class="list" id="followers-list">
            <div class="list-item text-center">
              <% if @player.followers.any? %>
                <% @player.followers.each do |follower| %>
                  <div>
                    <br>
                    <p><%= follower.first_name %></p>
                    <% if follower.avatar.key.nil? %>
                      <%= image_tag "logo2.png", size: "60x60" %>
                      <% else %>
                      <%= cl_image_tag follower.avatar.key, :transformation=>[
                      {:gravity=>"face", :height=>60, :radius=>"max", :width=>60, :crop=>"fill"},
                      {:quality=>100, :radius=>0}] %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
          </div>
        </div>

      <div class="list" id="following-list">
        <div class="list-item text-center">
          <% if @player.following.any? %>
            <% @player.following.each do |following| %>
                <br><hr width="100% center" />
              <%= following.first_name %>
            <% end %>
          <% end %>
        </div>
      </div>
            <%# <div class="list-item">some stuff</div>
            <div class="list-item">some stuff</div>
            <div class="list-item">some stuff</div>
            <div class="list-item">some stuff</div> %>

          <%# <div class="list" id="following-list">
            <div class="list-item">some stuff</div>
            <div class="list-item">some stuff</div>
            <div class="list-item">some stuff</div>
            <div class="list-item">some stuff</div>
            <div class="list-item">some stuff</div>
          </div> %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const openTab = (tab) => {
    document.querySelectorAll('.list').forEach(list => {
      list.style.display = "none"
    });
    document.getElementById(tab).style.display = "block"
    document.querySelectorAll(".active").forEach(nav => nav.classList.remove("active"))
    document.getElementById(`${tab}-tab`).classList.add("active")
  }
</script>
