<div class="text-center">

  <h1><%= @player.first_name %></h1>
  <%= cl_image_tag @player.avatar.key, height: 300, width: 400, crop: :fill%>

  <div>
    <p><%= @player.email %> <%= render partial: "stats", locals: {user: @player} %></p>
      <div>
        <h3>Bio:</h3>
      </div>
    <%= render 'bio_show' %>
  </div>
</div>
