<div class="text-center">
    <div class="banner">
      <div class="header-container">
        <h1>GimmeGolf</h1>
        <button id="all" class="button1">
          <%= link_to "See courses", courses_path, class: "select-course" %>
          <%= link_to button_to "BOOK NOW", courses_path, class: "book-main" %>
        </button>
      </div>
    </div>

    <div class="scroll-down"></div>

</div>
  <div>
    <h2 class="how"><u>HOW IT WORKS</u></h2>
    <div class="how-it-works">
      <div class="how-photos">
        <%= image_tag("1.png") %>
      </div>
      <div class="how-photos">
        <%= image_tag("2.png") %>
      </div>
      <div class="how-photos">
      <%= image_tag("3.png") %>
      </div>
    </div>
  </div>

    <div class="description">
      <h2 id="descrip"><br>
      GimmeGolf is the best way to find a community who enjoy playing golf. <br>
      Book games of up to 4 people at a course convenient to you. <br>
       Meet new people, play with friends, have fun! <br>
        <%# To find a community and enjoy playing golf. <br>
        Book courses. <br>
        Games with atleast four of your friends, <br>
        and other individuals with similar interests in golf! %>
      </h2>
      <br>
      <%= link_to button_to "BOOK NOW", courses_path, class: "book-main" %>
    </div>


  <div class="box-friends container text-center">
    <h2>Follow us <i class="fa-brands fa-instagram"></i></h2>
    <div class="row">
      <div class="col-4"><%= image_tag("friends1.jpg", :class => "style_image" ) %></div>
      <div class="col-4"><%= image_tag("friends2.jpg", :class => "style_image" ) %></div>
      <div class="col-4"><%= image_tag("friends3.jpg", :class => "style_image" ) %></div>
    </div>
    <div class="row">
      <div class="col-4"><%= image_tag("friends4.jpg", :class => "style_image" ) %></div>
      <div class="col-4"><%= image_tag("friends5.jpg", :class => "style_image" ) %></div>
      <div class="col-4"><%= image_tag("friends6.jpg", :class => "style_image" ) %></div>
    </div>
  </div>

  <%# <div class="team-container">
    <h1 class="team">MEET OUR TEAM</h1>
    <div class="team-photos">
      <%= image_tag("magdalena1.jpg", :class => "style_image" ) %>
      <%# <h3>Magdalena</h3> %>
      <%#= image_tag("mustafa.png", :class => "style_image" ) %>
      <%# <h3>Mustafa</h3> %>
      <%#= image_tag("angee.jpg", :class => "style_image" ) %>
      <%# <h3>Angee</h3> %>
      <%#= image_tag("luba.jpg", :class => "style_image" ) %>
      <%# <h3>Luba</h3> %>
    <%# </div> %>
  <%# </div> %>

  <div class="sign-up-div">
    <h5>Get involved in the most exciting community for all the golfers!</h5>
    <body class="text-center">
      <br>
      <%= link_to "SEE COURSES", courses_path, class: "book-main1" %>
    </body>
  </div>
</div>
