<div class="container">
  <div class="row">
    <div class="cards course-description">
      <% @courses.each do |course| %>
      <div class="course-card" >
        <%= cl_image_tag course.photos[0].key, height: 300,  crop: :fill %>
         <div class="card-course-infos">
              <h4><%= course.name.upcase %></h4>
              <p><%= course.location.upcase %></p>
          </div>
      </div>
       <%# <%= link_to course.name, course_path(course)%>
      <% end %>
              <%# <%= link_to course.name, course_path(course)%>
    </div>
  </div>
</div>
