<div class="container">
  <div class="row">
    <div class="py-2">
      <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
      <%= date_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a course"
      %>
      <%= text_field_tag :location,
        params[:location],
        class: "form-control",
        placeholder: "Find a location"
      %>
      <%= submit_tag "Search", class: "btn" %>
      <% end %>
    </div>


    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <%= link_to "Display all",  courses_path %>
    <% if params[:search].present? %>
    <% @courses.each do |course| %>
      <%= link_to course.name, course_path(course) %>
    <% end %>
    <% else %>
    <% @courses.each do |course| %>
      <%= link_to course.name, course_path(course)%>
    <% end %>
    <% end %>

    <div class="cards course-description ">
      <% @courses.each do |course| %>
      <div class="course-card scale" >

      <a href="#"><%= link_to course_path(course, selected_date: params[:query]) do %>
      <%= cl_image_tag course.photos[0].key, height: 300,  crop: :fill %>
         <div class="card-course-info">
         <%course_city = course.location.split(",")[-2] %>
         <%course_zip = course.location.split(",")[-1] %>
              <h4 class="course-name"><%= course.name.upcase %></h4>
              <p class="course-info location"><%= "#{course_city.upcase}, #{course_zip.upcase}"%></p>
              <div class="display-flex">
                <p class="course-info item ">PAR <%= course.par %></p>
                <p class="course-info item"> HOLE <%= course.holes %></p>
              </div>
          </div>
      <% end %></a>
      </div>
      <% end %>

    </div>
  </div>
</div>

    <%# <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a location"
      %>
      <%# <%= submit_tag "Search", class: "btn" %>
      <%# <% end %>
