<div class="container">
  <div class="row">
    <div class="cards course-description ">
      <% @courses.each do |course| %>
      <div class="course-card scale" >

      <a href="#"><%= link_to course_path(course) do %>
      <%= cl_image_tag course.photos[0].key, height: 300,  crop: :fill %>
         <div class="card-course-info">
         <%course_city = course.location.split(",")[-2] %>
         <%course_zip = course.location.split(",")[-1] %>
              <h4 class="course-name"><%= course.name.upcase %></h4>
              <p class="course-info location"><%= "#{course_city.upcase}, #{course_zip.upcase}"%></p>
              <div class="display-flex">
                <p class="course-info item ">PAR <%= course.par %></p>
                <p class="course-info item"> HOLE <%= course.holes %></p>
              </div>
          </div>
      <% end %></a>
      </div>
      <% end %>

    </div>
  </div>
</div>
<h1>Hello</h1>

<div class="py-2">
  <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
  <%= date_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a course"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

</div>

<%= link_to "Display all",  courses_path %>

<% if params[:search].present? %>
  <% @courses.each do |course| %>
    <%= link_to course.name, course_path(course) %>
  <% end %>
<% else %>
  <% @courses.each do |course| %>
    <%= link_to course.name, course_path(course)%>
  <% end %>
<% end %>
