<div class="container-show-page">
  <div class="row">
    <div class="py-2">
      <%= form_with url: courses_path, method: :get, class: "d-flex search-form-control form-group" do %>
      <%= text_field_tag :location,
        params[:location],
        class: "form-control",
        placeholder: "Find a location"
      %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
      <% end %>
    </div>

  <%# <div class="row"> %>
    <%# <% if params[:search].present? %>
    <%# <% @courses.each do |course| %>
      <%# <%= link_to course.name, course_path(course) %>
    <%# <% end %>
    <%# <% else %>
    <%# <% @courses.each do |course| %>
      <%# <%= link_to course.name, course_path(course)%>
    <%# <% end %>
    <%# <% end %>
  <div class="col-8">
    <div class="cards course-description cards-show">
      <% @courses.each do |course| %>
      <%= link_to course_path(course, selected_date: params[:query]) do %>
        <div class="course-card-index scale" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path course.photos[0].key, height: 300, crop: :fill %>)">

          <% if course.average_rating > 0  %>
            <p class="margin-left-rating"> <%= "⭐️" * course.average_rating %> </p>
          <% else %>
            <p class="margin-left-rating">✩✩✩✩✩</p>
          <% end %> </p>
          <div class="margin-top-name">

            <h2><%= course.name%></h2>
            <div >
              <%= course.location.split(",")[-2] %>,
              <%= course.location.split(",")[-1] %>

            </div>
              <div class="d-flex mt-2">
                <div>
                  <p class="padding-right-hole"><i class="fa-solid fa-ring"></i></i> HOLE <%= course.holes %></p>
                </div>
                <div>
                  <p><i class="fa-solid fa-golf-ball-tee"></i> PAR <%= course.par %></p>
                </div>
              </div>

          </div>
        </div>
        <%end %>

      <%# <div class="course-card scale" >

      /* <a href="#"><%= link_to course_path(course, selected_date: params[:query]) do %>
      <%# <%= cl_image_tag course.photos[0].key, height: 300,  crop: :fill %>
      <% end %>
      </div>
      <%# <% end %>

    </div>
      <div class="col-4 mt-5  ">
        <div id="map" style=" "
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

        <% link_to "Display all",  courses_path %>
      </div>
      </div>
  </div>
</div>

    <%# <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a location"
      %>
      <%# <%= submit_tag "Search", class: "btn" %>
      <%# <% end %>
