
<h1 class="text-center">
  <%= @course.name%>
</h1>

<p>Day: <%= @today %></p>
<% current_year = Date.current.year %>

<%# ========== PLEASE LEAVE THIS CODE ALONE AND DO YOUR CODE ABOVE IT ===================================== %>

<%# <%= @player %>
<div class="text-center border-3 border d-flex flex-column justify-content-center ">
  <h2>Current attendees:</h2>
  <div class="mb-3">
    <% @slots.each do |slot| %>
      <button><%= slot.start_time.strftime("%I:%M %p") %></button>
      
    <% end %>
  </div>
  <%# if user.booking game_start is same as slot.start_time %>
    <% @slots.each do |slot| %>
      <h3><%= slot.start_time.strftime("%I:%M %p") %></h3>
      <div>
        <% @attendee_bookings.each do |attendee| %>
          <% if slot.start_time == attendee.game_start %>
            <p><%= attendee.user.email %> </p>
          <% end %>
        <% end %>
      </div>
      <% end %>
  </div>
</div>


<div>
  <%= simple_form_for [@course, @booking] do |f| %>
    <%= f.input :game_start, collection: @course.slots_collection, required: true %>
    <%# <%= f.select :slot_id, @slots.map { |slot| ["Start time #{slot.start_time.strftime("at %I:%M %p")}", slot.id]} %>
    <%= f.input :date, as: :date, html5: true, required: true %>
    <%= f.submit "Book Slot", class: "button", id: "buy-btn" %>
  <% end %>
</div>


<p>User signed in? <%= user_signed_in? %></p>
<p>Current user: <%= current_user.email %> </p>
