  <div class="container-show-page">
    <div class="show-card">


    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <% @course.photos.each_with_index do |photo,index| %>
            <div class="carousel-item <%="active" if index.zero? %>">
              <img class="d-block" src="<%= cl_image_path photo.key, height: 400, width: 400, crop: :fit %>" alt="<%=@course.name%>">
            </div>
          <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>



      <div class="show-card-info">
        <h2><%= @course.name %> <% if params[:selected_date] && params[:selected_date] != "" %> on <%= params[:selected_date].to_date.strftime("%a, %b %e ") %> <% end %> </h2>
        <p> <small><%= @course.description %></small> </p>
        <div class="">
          <h3>This location has <%= pluralize @course.reviews.size, "" %>
          <% if @course.reviews.size == 1 %>
            review
          <% else %>
            reviews
          <% end %></h3>
          <% if @course.average_rating > 0  %>
            <p>Rating: <%= "⭐️" * @course.average_rating %> </p>
          <% else %>
            <p>✩✩✩✩✩</p>
          <% end %> </p>
          <button type="button", id="slot-button", data-bs-toggle="modal" data-bs-target="#exampleModal">Book now</button>
      </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">BOOK A SLOT!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@course, @booking] do |f| %>
            <%# <%= f.input :game_start, collection: @course.slots_collection, required: true %>
            <%= f.input :slot_id, collection: @course.slots_collection, required: true, label_method: :second, value_method: :first %>
            <%# <%= f.select :slot_id, @slots.map { |slot| ["Start time #{slot.start_time.strftime("at %I:%M %p")}", slot.id]} %>
            <%= f.input :date, as: :date, html5: true, required: true %>
            <%= f.submit "Book now", class: "", id: "slot-button" %>
          <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    </div>
  </div>

    <div class='show-card-slots' data-controller="show-booked-users" >
      <p class="">Today's slots:</p>
        <div class="course-slots-container">
          <ul class="nav">
            <% @slots.each do |slot| %>
              <div>
                <li id="slot-<%= slot.id %>" data-action="click->show-booked-users#showUsers" data-show-booked-users-target="slots"> | <%= slot.start_time.strftime("%I:%M %p") %> |</li>
              </div>
            <% end %>
          </ul>
          <div >
            <% @slots.each do |slot| %>
              <%# <% if slot.todays_bookings_count.zero? %>
                <%# <p>No users have booked this slot yet</p> %>
              <%# <% if %>
                <div>
                  <% slot.bookings.each do |booking| %>
                    <% if booking.date == @today %>
                      <p data-show-booked-users-target="users" class="slot-<%= slot.id %> d-none">User: <%= booking.user.email %>, <%= booking.date %> </p>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <%# <% end %>
          </div>
        </div>

    </div>
      </div>
    </div>



  <div class='show-card-slots-reviews'>
    <% if @course.reviews.blank? %>
      <h5>Be the first to leave a review for <%= @course.name %></h5>
      <%= render 'reviews/new' %>
    <% else %>
      <h2>Review the course: <%= render 'reviews/new' %> </h2>
    <% end %>
    <div>
      <p>
        <button class="button-show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          See reviews
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-review card-body">
          <% @course.reviews.each do |review| %>
          <p><%= review.content %></p>
          <%= "⭐️" * review.ratings %>
          <p>Created at:</p> <%= review.created_at.strftime("%d-%m-%Y") %>
          <p>User:</p> <%= review.user.email %>
          <%# display reviewer %>
          <% end %>
        </div>
      </div>
    </div>
  </div>







    <%# <p>User signed in? <%= user_signed_in? %>
    <%# <p>Current user: <%= current_user.email %>
  <%= link_to "Home page", courses_path, id: "button-back" %>
  </div>



<%# <% current_year = Date.current.year %>

<%# <div class="py-2">
  <form action="/courses" method="get">
    <div>
      <div class="position-relative">
        <%# <input type="date" name="search" value="<%=params[:search]%>

      <%# </div>
      <div class="position-relative"> %>
        <%# <select name="location" id="cars">
        <% @locations.each do |location| %>
          <%# <%= <option value="#{location}">location</option> %>
        <%# <% end %>
        <%# </select> %>
      <%# </div>
    </div>
    <input type="submit" value="Search" class="btn btn-flat border" id="search-button">
  </form>
</div> %>

<%# <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
  <%# <%= text_field_tag :query,
    params[:query],
    # class: "form-control",
    placeholder: "Find a location"
  %>
  <%# <%= submit_tag "Search", class: "btn btn-primary" %>
  <%# dropdown to show all the locations available at choosen date %>
<%# <% end %>



<%# ========== PLEASE LEAVE THIS CODE ALONE AND DO YOUR CODE ABOVE IT ===================================== %>
<%# data-controller="show-attendees" %>
<%# data-action="click->show-attendees#revealAttendees" %>
<%# class="d-none" data-show-attendees-target="attendees" %>







<%# <div> %>
  <%# <%= simple_form_for [@course, @booking] do |f| %>
    <%# <%= f.input :game_start, collection: @course.slots_collection, required: true %>
    <%# <%= f.select :slot_id, @slots.map { |slot| ["Start time #{slot.start_time.strftime("at %I:%M %p")}", slot.id]} %>
    <%# <%= f.input :date, as: :date, html5: true, required: true %>
    <%# <%= f.submit "Book Slot", class: "button", id: "buy-btn" %>
  <%# <% end %>
<%# </div> %>


<%# <div class='show-card-slots'>
  <div class="text-center">
    <h2><%= @today %>
    <%# </h2> %>
    <%# <h2>Current attendees:</h2> %>
  <%# </div> %>
  <%# <div class="d-flex justify-content-center"> %>
    <%# <% @slots.each do |slot| %>
    <%# <div>
      <button class="text-center"> <%= slot.start_time.strftime("%I:%M %p") %>
      <%# </button> %>
      <%# <div class="border border-3">
        <% @attendee.bookings.each do |attendee| %>
          <%# <% if slot.start_time == attendee.game_start %>
            <%# <p><%= attendee.user.email %>
          <%# <% end %>
        <%# <% end %>
      <%# </div> %>
    <%# </div> %>
    <%# <% end %>
  <%# </div> %>
<%# </div> %>





<%# <div class='show-card-slots'>
    <div class="mb-6">

      <h3>Book a slot: </h3>
      <%= simple_form_for [@course, @booking] do |f| %>
        <%# <%= f.input :game_start, collection: @course.slots_collection, required: true %>
        <%# <%= f.input :slot_id, collection: @course.slots_collection, required: true, label_method: :second, value_method: :first %>
        <%# <%= f.select :slot_id, @slots.map { |slot| ["Start time #{slot.start_time.strftime("at %I:%M %p")}", slot.id]} %>
        <%# <%= f.input :date, as: :date, html5: true, required: true %>
        <%# <%= f.submit "Book now", class: "", id: "slot-button" %>
      <%# <% end %>
    <%# </div> %>
  <%# </div> %>
