<div class="container-show-page">

  <div class="show-row mb-5">
    <h2 class= "title-show"><strong><%= @course.name.upcase %></strong></h2>
    <h5 class= "title-show">
      <% if @course.average_rating > 0 %>
      <%= "⭐️" * @course.average_rating %> ·
      <% else %>
      ✩✩✩✩✩ ·
      <% end %>
     <%= pluralize @course.reviews.size, "" %>
      <% if @course.reviews.size == 1 %>
      review ·
        <% else %>
          reviews ·
        <% end %>
    <%= @course.location %>
    </h5>
    <div class="">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <% @course.photos.each_with_index do |photo,index| %>
            <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= index %>"  class="<%="active" if index.zero? %> image-button" aria-current="true" aria-label="Slide 1" src="<%= cl_image_path photo.key, crop: :fill %>" alt="<%=@course.name%>">
          <% end %>
        </div>
        <div class="carousel-inner">
          <% @course.photos.each_with_index do |photo,index| %>
          <div class="carousel-item <%="active" if index.zero? %>">
            <img  class="d-block w-100 image-carousel" src="<%= cl_image_path photo.key, crop: :fill %>" alt="<%=@course.name%>">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="description-show d-flex">
    <div>
      <h5 class="description-div"> <%= @course.description %> </h5>

    <div class='description-div ' data-controller="show-booked-users" >
      <h5><strong>Check players for today:</strong></h5>
      <div class="d-flex justify-content-between">
      <div class="course-slots-container d-flex">
        <p class="">
        <% @slots.each do |slot| %>
        <div class="nav-user">
          <button class="user-show" id="slot-<%= slot.id %>" data-action="click->show-booked-users#showUsers" data-show-booked-users-target="slots"><%= slot.start_time.strftime("%I:%M %p") %> </button>
        </div>
        <% end %></p>
      </div>
      <div>
        <% @slots.each do |slot| %>
          <%# <% if slot.todays_bookings_count.zero? %>
            <%# <p>No users have booked this slot yet</p> %>
          <%# <% if %>
          <div class="user-grid">
            <% slot.bookings.each do |booking| %>
              <% if booking.date == @today %>
                <p data-show-booked-users-target="users" class="slot-<%= slot.id %> d-none">
                <% if booking.user.avatar.key.nil? %>
                    <%= image_tag "logo.png", size: "100x100" %>
                  <% else %>
                    <%= cl_image_tag booking.user.avatar.key, :transformation=>[
                    {:gravity=>"face", :height=>150, :radius=>"max", :width=>150, :crop=>"fill"},
                    {:quality=>100, :radius=>0}] %>
                  <% end %>
                </p>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <%# <% end %>
        </div>
        </div>
    </div>
    <div class='description-div'>
      <% if @course.reviews.blank? %>
      <h5><strong>Be the first to leave a review for <%= @course.name %></strong></h5>
      <%= render 'reviews/new' %>
      <% else %>
        <div class="body-review">
          <h5><strong>Review the course: </strong>  <%= render 'reviews/new' %></h5>
          <% end %>
        </div>

        <div class="collapse description-div" id="collapseExample">
          <div class="card card-review card-body">
            <% @course.reviews.each do |review| %>
            <p><%= review.content %></p>
            <%= "⭐️" * review.ratings %>
            <p>Created at:</p> <%= review.created_at.strftime("%d-%m-%Y") %>
            <p>User:</p> <%= review.user.email %>
            <%# display reviewer %>
            <% end %>
          </div>
        </div>

       <%= link_to "Home page", courses_path, id: "button-back" %>


    </div>
  </div>
  <div class="body-show">
    <div class="modal-body">
      <div class="">
      <h5><strong>£104</strong><small> per hour</small></h5>
    <div class="d-flex justify-content-between">
      <% if @course.average_rating > 0 %>
      <p>  <%= "⭐️" * @course.average_rating %>  <div class="d-flex justify-content-between">
      <a class="button-show-review" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <%= pluralize @course.reviews.size, "" %>
        <% if @course.reviews.size == 1 %>
          review
        <% else %>
          reviews
        <% end %></p>
      <% else %>
      <p> ⭐️ <strong>0.0</strong></p>
      <% end %>
      </a>
    </div>



      </div>
      </div>
      <%= simple_form_for [@course, @booking] do |f| %>
      <%# <%= f.input :game_start, collection: @course.slots_collection, required: true %>
      <%# <%= f.label %>
      <%= f.input :slot_id, collection: @course.slots_collection, required: true, label_method: :second, value_method: :first %>
      <%# <%= f.select :slot_id, @slots.map { |slot| ["Start time #{slot.start_time.strftime("at %I:%M %p")}", slot.id]} %>
      <%= f.input :date, as: :date, html5: true, required: true %>
      <%= f.submit "Book now", class: "", id: "slot-button" %>
    <% end %>


      </div>
      </div>

  </div>


</div>











    <%# <p>User signed in? <%= user_signed_in? %>
    <%# <p>Current user: <%= current_user.email %>

  </div>



<%# <% current_year = Date.current.year %>

<%# <div class="py-2">
  <form action="/courses" method="get">
    <div>
      <div class="position-relative">
        <%# <input type="date" name="search" value="<%=params[:search]%>

      <%# </div>
      <div class="position-relative"> %>
        <%# <select name="location" id="cars">
        <% @locations.each do |location| %>
          <%# <%= <option value="#{location}">location</option> %>
        <%# <% end %>
        <%# </select> %>
      <%# </div>
    </div>
    <input type="submit" value="Search" class="btn btn-flat border" id="search-button">
  </form>
</div> %>

<%# <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
  <%# <%= text_field_tag :query,
    params[:query],
    # class: "form-control",
    placeholder: "Find a location"
  %>
  <%# <%= submit_tag "Search", class: "btn btn-primary" %>
  <%# dropdown to show all the locations available at choosen date %>
<%# <% end %>



<%# ========== PLEASE LEAVE THIS CODE ALONE AND DO YOUR CODE ABOVE IT ===================================== %>
<%# data-controller="show-attendees" %>
<%# data-action="click->show-attendees#revealAttendees" %>
<%# class="d-none" data-show-attendees-target="attendees" %>







<%# <div> %>
  <%# <%= simple_form_for [@course, @booking] do |f| %>
    <%# <%= f.input :game_start, collection: @course.slots_collection, required: true %>
    <%# <%= f.select :slot_id, @slots.map { |slot| ["Start time #{slot.start_time.strftime("at %I:%M %p")}", slot.id]} %>
    <%# <%= f.input :date, as: :date, html5: true, required: true %>
    <%# <%= f.submit "Book Slot", class: "button", id: "buy-btn" %>
  <%# <% end %>
<%# </div> %>


<%# <div class='show-card-slots'>
  <div class="text-center">
    <h2><%= @today %>
    <%# </h2> %>
    <%# <h2>Current attendees:</h2> %>
  <%# </div> %>
  <%# <div class="d-flex justify-content-center"> %>
    <%# <% @slots.each do |slot| %>
    <%# <div>
      <button class="text-center"> <%= slot.start_time.strftime("%I:%M %p") %>
      <%# </button> %>
      <%# <div class="border border-3">
        <% @attendee.bookings.each do |attendee| %>
          <%# <% if slot.start_time == attendee.game_start %>
            <%# <p><%= attendee.user.email %>
          <%# <% end %>
        <%# <% end %>
      <%# </div> %>
    <%# </div> %>
    <%# <% end %>
  <%# </div> %>
<%# </div> %>





<%# <div class='show-card-slots'>
    <div class="mb-6">

      <h3>Book a slot: </h3>
      <%= simple_form_for [@course, @booking] do |f| %>
        <%# <%= f.input :game_start, collection: @course.slots_collection, required: true %>
        <%# <%= f.input :slot_id, collection: @course.slots_collection, required: true, label_method: :second, value_method: :first %>
        <%# <%= f.select :slot_id, @slots.map { |slot| ["Start time #{slot.start_time.strftime("at %I:%M %p")}", slot.id]} %>
        <%# <%= f.input :date, as: :date, html5: true, required: true %>
        <%# <%= f.submit "Book now", class: "", id: "slot-button" %>
      <%# <% end %>
    <%# </div> %>
  <%# </div> %>





  <%# <div class='description-show' data-controller="button-show-courses">
    <p class="" id="available" data-action="click->button-show-courses#showContent">Available courses:</p>
    <div data-show-slots-target="slots">
      <% @slots.each do |slot| %>
        <%# <p> <%= slot.start_time.strftime("%I:%M %p") %>
        <%# </p> %>
          <%# <% if slot.todays_bookings_count.zero? %>
            <%# <p>no bookings</p> %>
          <%# <% else %>
            <%# <% slot.bookings.each do |booking| %>
              <%# <% if booking.date == @today %>
                <%# <p>User: <%= booking.user.email%>
                <%# - <%= booking.date %>
                <%# </p> %>
              <%# <% end %>
            <%# <% end %>
          <%# <% end %>
      <%# <% end %>
    <%# </div> %>
  <%# </div> %>
